@scroll-down-animation- 1 {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.jumbospectrum .jumbotron {
  background-color: transparent;
}
.container_2 #specjumbo_topline {
  margin-bottom: 4rem;
  margin-top: 5rem;
  color: #414141;
}
.spectrum_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.spectrum_container img {
  opacity: 1;
  width: 50%;
  margin-bottom: 2rem;
}
.spectrum_container .col-3 {
  text-align: left;
}
.spectrum_container .perspectrum {
  padding-right: 10px;
}
.spectrum_container .perspectrum h5 {
  color: #414141;
}
.spectrum_container .perspectrum p {
  font-size: 0.9rem;
  color: #808080;
}
.spectrum_container .perspectrum .belowlinetext {
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .gallerycontent .tile {
    width: 90%;
  }
}
